.dark {
	--bg-color: rgb(46, 46, 46);
	--inverted-bg-color: lightyellow;

	--primary-color: rgb(102, 179, 102);
	--inverted-primary-color: darkblue;

	--secondary-color: rgb(85, 204, 85);
	--inverted-secondary-color: lightblue;
}
