.light {
	--bg-color: lightyellow;
	--inverted-bg-color: rgb(46, 46, 46);

	--primary-color: darkblue;
	--inverted-primary-color: rgb(102, 179, 102);

	--secondary-color: lightblue;
	--inverted-secondary-color: rgb(85, 204, 85);
}
